In [3]:
import pandas as pd 

df = pd.concat( 
    map(pd.read_csv, ['Cars_Kolkata.csv', 'Cars_Mumbai.csv', 'Cars_Delhi.csv', 'Cars_Bangalore.csv']), ignore_index=True) 
df.to_csv('CARS24.csv', index=False)
df.tail(20)

,Name,Model,Company,Year,Fuel Type,KM Driven,Transmission Type,Price,Location
2905,KIA SELTOS HTX IVT 1.5 PETROL,SELTOS HTX IVT 1.5 PETROL,KIA,2019,Petrol,"43,392",Automatic,₹12.61 Lakh,Bangalore
2906,Toyota Glanza V,Glanza V,Toyota,2019,Petrol,"34,240",Manual,₹7.14 Lakh,Bangalore
2907,Maruti Celerio ZXI (O),Celerio ZXI (O),Maruti,2014,Petrol,"29,601",Manual,₹3.95 Lakh,Bangalore
2908,Hyundai Elite i20 SPORTZ PLUS 1.2,Elite i20 SPORTZ PLUS 1.2,Hyundai,2019,Petrol,"21,733",Manual,₹7.27 Lakh,Bangalore
2909,Hyundai Creta SX 1.6 PETROL DUAL TONE,Creta SX 1.6 PETROL DUAL TONE,Hyundai,2019,Petrol,"36,336",Manual,₹10.56 Lakh,Bangalore
2910,Hyundai Elite i20 SPORTZ 1.2,Elite i20 SPORTZ 1.2,Hyundai,2017,Petrol,"78,959",Manual,₹5.67 Lakh,Bangalore
2911,Maruti Grand Vitara SIGMA SMART HYBRID,Grand Vitara SIGMA SMART HYBRID,Maruti,2023,Petrol,"20,888",Manual,₹11.19 Lakh,Bangalore
2912,Mahindra XUV500 W8,XUV500 W8,Mahindra,2015,Diesel,"91,778",Manual,₹8.43 Lakh,Bangalore
2913,Tata Tiago XZA PETROL,Tiago XZA PETROL,Tata,2018,Petrol,"21,979",Automatic,₹5.28 Lakh,Bangalore
2914,Renault Duster RXS CVT,Duster RXS CVT,Renault,2017,Petrol,"28,124",Automatic,₹7.55 Lakh,Bangalore
2915,Renault Duster RXS CVT,Duster RXS CVT,Renault,2017,Petrol,"21,357",Automatic,₹7.30 Lakh,Bangalore
2916,Tata NEXON XZA PLUS SUNROOF PETROL,NEXON XZA PLUS SUNROOF PETROL,Tata,2021,Petrol,"35,445",Automatic,₹10.30 Lakh,Bangalore
2917,Tata Tiago XZ PETROL,Tiago XZ PETROL,Tata,2016,Petrol,"70,138",Manual,₹3.92 Lakh,Bangalore
2918,Honda City 1.5L I-VTEC V MT,City 1.5L I-VTEC V MT,Honda,2015,Petrol,"71,841",Manual,₹5.59 Lakh,Bangalore
2919,Renault TRIBER RXE MT,TRIBER RXE MT,Renault,2021,Petrol,"4,252",Manual,₹5.82 Lakh,Bangalore
2920,Maruti Ertiga ZXI+ AT SHVS,Ertiga ZXI+ AT SHVS,Maruti,2023,Petrol,"11,016",Automatic,₹13.64 Lakh,Bangalore
2921,Maruti Ciaz ALPHA 1.5 SHVS PETROL,Ciaz ALPHA 1.5 SHVS PETROL,Maruti,2018,Petrol,"91,521",Manual,₹6.55 Lakh,Bangalore
2922,Maruti Alto VXI PLUS,Alto VXI PLUS,Maruti,2021,Petrol,"28,158",Manual,₹4.08 Lakh,Bangalore
2923,Maruti Dzire ZXI,Dzire ZXI,Maruti,2018,Petrol,"68,309",Manual,₹6.09 Lakh,Bangalore
2924,Maruti Celerio VXI,Celerio VXI,Maruti,2015,Petrol,"39,773",Manual,₹4.20 Lakh,Bangalore